<div class="ui twelve column container">
  <h1>Tester Matching</h1>

  <form class="ui form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="ui fluid field">
      <label>Countries</label>
      <sui-multi-select formControlName="countrySelect"
                        class="selection"
                        [options]="countries"
                        [isSearchable]="false"
                        #countriesMultiSelect>
        <sui-select-option *ngFor="let country of countriesMultiSelect.filteredOptions" [value]="country">
        </sui-select-option>
      </sui-multi-select>
    </div>

    <div class="ui fluid field">
      <label>Devices</label>
      <sui-multi-select formControlName="deviceSelect"
                        class="selection"
                        [options]="devices"
                        [isSearchable]="false"
                        #devicesMultiSelect>
        <sui-select-option *ngFor="let device of devicesMultiSelect.filteredOptions" [value]="device">
        </sui-select-option>
      </sui-multi-select>
    </div>


    <button type="submit" class="ui primary button">
      Search
    </button>

  </form>

  <table class="ui single line striped collapsing table" *ngIf="searchResult.length > 0">
    <thead>
      <th class="center aligned">Tester</th>
      <th class="center aligned">Total Bugs</th>
      <th colspan="2" class="center aligned">Bugs By Device</th>
    </thead>
    <tbody>
      <tr *ngFor="let tester of searchResult">
        <td class="right aligned">{{tester.testerId}}</td>
        <td class="right aligned">{{tester.totalBugs}}</td>
        <td>
          <ng-container *ngFor="let device of tester.deviceReports">
            {{device.device}}<br>
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let device of tester.deviceReports">
            {{device.bugCount}}<br>
          </ng-container>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<br>
<br>
<br>
